@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html,
body {
  overflow: hidden;
  background-color: #000000;
  color: white;
}

.white-glow {
  position: relative;
}

.white-glow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 0.25rem;
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.white-glow:hover::before {
  opacity: 0.3;
}